@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "lato";
  color: #2f3743;
  max-width: 1440px;
  margin: auto;
}

.hiddenOnLoad {
  opacity: 0;
  transform: translateY(30px); /* Légèrement en bas */
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
