@import "./animation.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f7;
  font-family: "lato";
  color: #264653;
  max-width: 1440px;
  margin: auto;
}

h1,
h2,
h3,
a,
blockquote {
  font-family: "Sour Gummy";
}

#whiteTitle {
  @apply text-white;
}

.bigTitle {
  @apply text-3xl font-bold text-charcoal-600 sm:text-4xl;
}

.title {
  @apply text-xl text-saffron-400;
}

.navLink {
  @apply rounded-md px-4 py-2 transition duration-200 hover:bg-persian_green-400/100;
}

.arrowList {
  @apply -mt-1 text-2xl text-burnt_sienna-500;
}

.citation {
  @apply flex flex-col gap-2 rounded-lg bg-white px-10 py-8 text-center text-3xl font-thin italic shadow-2xl;
}

.icons {
  @apply mb-3 text-7xl text-sandy_brown-700;
}
